<%= form_for([@entry, @entry.comments.build]) do |f| %>
  <p>
    <%= f.label :Usuario %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Comentario %>
    <%= f.text_area :body %>
  </p>
  <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>
